body {
	border: 1px dotted tomato;
	box-sizing: border-box;
	border-width: 0 1px;
	font-family: sans-serif;
	font-size: 2rem;
	margin: 0 auto;
	max-width: 700px;
	min-height: 100vh;
	padding: 4rem;
}

ul {
	padding: 0;
}

ul li {
	padding: 1rem 0;
}
